
# Desirable

matplotlib
rpy2

# Required

numpy

scipy

#theano
#For bleeding edge theano, use
git+https://github.com/Theano/Theano.git

# numpy 1.10 has an ABI change that was stuffing up Theano (complaining about ufuncs)
# as at 20 October 2015
#
# fixed in Theano in git, October 2015 
